/* Fonts */

/* bellefair-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    src: url('/Frontend-Mentor-space-tourism-website/assets/fonts/bellefair-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  
  /* barlow-condensed-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('/Frontend-Mentor-space-tourism-website/assets/fonts/barlow-condensed-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* barlow-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: url('/Frontend-Mentor-space-tourism-website/assets/fonts/barlow-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  
  
/* Variables */

:root {
    --clr-neutral-dark: hsla(230, 35%, 23%, 1);
    --clr-neutral-light: hsla(0, 0%, 100%, 1);
    --clr-neutral-light-transparency-01: hsla(0, 0%, 100%, .1);
    --clr-neutral-light-transparency-25: hsla(0, 0%, 100%, .25);
    --clr-neutral-light-transparency-04: hsla(0, 0%, 100%, .04);
    --clr-primary-1: hsla(231, 77%, 90%, 1);
    --clr-primary-1-transparency-15: hsla(231, 77%, 90%, .15);

    --ff-title: 'Bellefair', serif;
    --ff-subtitles: 'Barlow Condensed', sans-serif;
    --ff-body: 'Barlow', sans-serif;

    --h1-fs: clamp(8rem, 6rem + 10vw, 15rem);
    --h1-lh: clamp(10rem, 7.943rem + 10.286vw, 17.2rem);
    --h1-secondary-fs: clamp(1.6rem, 1.25vw + 1.2rem, 2.8rem);
    --h1-secondary-lh: clamp(1.9rem, 1.5625vw + 1.4rem, 3.4rem);
    --h2-fs: clamp(5.6rem, 4.343rem + 6.286vw, 10rem);
    --h2-lh: clamp(6.4rem, 4.943rem + 7.286vw, 11.5rem);
    --h3-fs: clamp(2.4rem, 1.486rem + 4.571vw, 5.6rem);
    --h3-lh: clamp(2.8rem, 1.771rem + 5.143vw, 6.4rem);
    --h4-fs: clamp(1.6rem, 1.143rem + 2.286vw, 3.2rem);
    --h4-lh: clamp(1.8rem, 1.257rem + 2.714vw, 3.7rem);
    --h5-fs: clamp(1.6rem, 1.257rem + 1.714vw, 2.8rem);
    --h5-lh: clamp(1.9rem, 1.471rem + 2.143vw, 3.4rem);
    --h5-spacing: .452rem;
    --subheading-1-fs: 2.8rem;
    --subheading-1-lh: 3.2rem;
    --subheading-2-fs: 1.4rem;
    --subheading-2-lh: 1.7rem;
    --subheading-2-spacing: .236rem;
    --subheading-3-fs: 1.6rem;
    --subheading-3-lh: 1.9rem;
    --subheading-3-spacing: .27rem;
    --body-fs: clamp(1.5rem, 1.414rem + 0.429vw, 1.8rem);
    --body-lh: clamp(2.5rem, 2.3rem + 1vw, 3.2rem);
    --explore-btn-fs: clamp(2rem, 1.657rem + 1.714vw, 3.2rem);
    --explore-btn-lh: clamp(2.3rem, 1.9rem + 2vw, 3.7rem);
    --explore-btn-spacing: .125rem;

    --spacing-x: clamp(2.4rem, 12.5893vw + -1.6286rem, 16.5rem);
}

/* General styles */

body {
    color: var(--clr-primary-1);
    font-family: var(--ff-body);
    font-size: var(--body-fs);
    line-height: var(--body-lh);
    display: flex;
    flex-direction: column;
}

main {
    position: relative;
}

a {
    color: inherit;
    text-decoration: none;
}

.fixed {
    position: fixed;
}

.h1-secondary {
    font-family: var(--ff-subtitles);
    font-size: var(--h1-secondary-fs);
    line-height: var(--h1-secondary-lhh);
    letter-spacing: var(--subheading-3-spacing);
    color: var(--clr-neutral-light);
    text-transform: uppercase;
    font-weight: 400;
    display: flex;
    gap: 1.6rem;
}

.h1-secondary span[aria-hidden="true"] {
    color: var(--clr-neutral-light-transparency-25);
    font-weight: 700;
}

/** Header **/

header {
    padding: 2.4rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    color: var(--clr-neutral-light);
    font-family: var(--ff-subtitles);
    z-index: 97;
}

.logo {
    width: 4rem;
    height: auto;
}

.navigation {
    min-height: 100vh;
    background-color: var(--clr-neutral-light-transparency-04);
    backdrop-filter: blur(2rem);
    width: 32rem;
    position: absolute;
    z-index: 98;
    top: 0;
    right: 0;
    transform: translateX(32rem);
    transition: all .6s ease-in-out;
}

.nav_list {
    padding-block-start: 11.8rem;
    padding-inline-start: 3.2rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.nav_link {
    text-transform: uppercase;
    font-size: var(--subheading-3-fs);
    line-height: var(--subheading-3-lh);
    letter-spacing: var(--subheading-3-spacing);
    display: flex;
    gap: 1.6rem;
}

.nav_item-number {
    display: inline-block;
    width: 2rem;
    text-transform: uppercase;
    font-size: var(--subheading-3-fs);
    line-height: var(--subheading-3-lh);
    letter-spacing: var(--subheading-3-spacing);
    font-weight: 700;
}

/*** Hamburger menu ***/

.menu-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    position: absolute;
    right: 2.4rem;
    z-index: 99;
    width: 2.4rem;
    height: 2.4rem;
}

.nav-slide {
    transform: translateX(0);
}

.line {
    fill: none;
    stroke: var(--clr-neutral-light);
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

/*** Tablet ***/

@media only screen and (min-width: 48em) {
    header {
        height: 9.6rem;
    }
    header a {
        display: flex;
        align-items: center;
    }
    .menu-btn {
        display: none;
    }
    .navigation {
        transform: translateX(0);
        min-height: 9.6rem;
        width: fit-content;
    }
    .nav_list {
        flex-direction: row;
        padding-block: 4rem;
        padding-inline: 4.8rem;
    }
    .nav_item-number {
        display: none;
    }

    /**** Navigation links hover animation ****/

    .underline {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        background-color: var(--clr-neutral-light);
        transition: all 0.6s ease;
        list-style: none;
        pointer-events: none;
        width: 0;
    }
}

/*** Desktop ***/

@media only screen and (min-width: 80em) {
    .nav_list {
        padding-inline: 12.8rem;
        gap: 4.8rem;
    }
    .nav_item-number {
        display: inline-block;
    }
    header::after {
        content: '';
        position: absolute;
        z-index: 100;
        top: 50%;
        display: block;
        height: .1rem;
        background-color: var(--clr-neutral-light-transparency-25);
        left: 8.8rem;
        width: clamp(39.8rem, 100vw + -88.2rem, 103.8rem);
    }
}

/* Specific styles */

/** Home **/

.home-body {
    background-image: url(../assets/img/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.home-body main {
    margin-inline: var(--spacing-x);
    margin-block-start: clamp(12rem, 8.3333vw + 9.3333rem, 20rem);
    margin-block-end: clamp(4.8rem, 2.514rem + 11.429vw, 12.8rem);
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.title-description {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.6rem;
}

.title-description h1 {
    display: flex;
    flex-direction: column;
    gap: clamp(1.6rem, 1.029rem + 2.857vw, 2.4rem);
}

.title-description h1 span:first-child {
    font-family: var(--ff-subtitles);
    letter-spacing: var(--h5-spacing);
    color: var(--clr-primary-1);
    font-size: var(--h5-fs);
    font-weight: 400;
    line-height: var(--h5-lh);
    text-transform: uppercase;
}

.title-description h1 span:last-child {
    font-family: var(--ff-title);
    color: var(--clr-neutral-light);
    font-size: var(--h1-fs);
    line-height: var(--h1-lh);
    text-transform: uppercase;
}

.explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explore-btn {
    background-color: var(--clr-neutral-light);
    color: var(--clr-neutral-dark);
    border-radius: 50%;
    width: clamp(15rem, 6.143rem + 44.286vw, 27.4rem);
    height: clamp(15rem, 6.143rem + 44.286vw, 27.4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--ff-title);
    font-size: var(--explore-btn-fs);
    text-transform: uppercase;
    line-height: var(--explore-btn-lh);
    position: relative;
}

.explore-btn span {
    letter-spacing: var(--explore-btn-spacing);
    transition: all .6s ease-in-out;
}

.explore-btn::after {
    content: '';
    position: absolute;
    top: -30.4%;
    width: clamp(24.12rem, 18.6429vw + 18.1543rem, 45rem);
    height: clamp(24.12rem, 18.6429vw + 18.1543rem, 45rem);
    border-radius: 50%;
    background-color: var(--clr-neutral-light-transparency-04);
    transform: scale(0);
    transition: all .6s ease-in-out;
}

.explore-btn:hover span, .explore-btn:focus span, .explore-btn:active span {
    letter-spacing: .5rem;
}

.explore-btn:hover::after, .explore-btn:focus::after, .explore-btn:active::after {
    transform: scale(1);
}

/*** Tablet ***/

@media only screen and (min-width: 48em) {
    .home-body {
        background-image: url(../assets/img/background-home-tablet.jpg);
    }
}

/*** Desktop ***/

@media only screen and (min-width: 80em) {
    .home-body {
        background-image: url(../assets/img/background-home-desktop.jpg);
    }

    .home-body main {
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        min-height: calc(80vh - 20rem);
    }

    .title-description {
        text-align: start;
        max-width: 45rem;
    }
}

/** Destination page **/

.destination-body {
    background-image: url(../assets/img/background-destination-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.destination-body main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-inline: var(--spacing-x);
    margin-block-start: clamp(12rem, 5.4167vw + 10.2667rem, 17.2rem);
    margin-block-end: clamp(4.8rem, 6.6667vw + 2.6667rem, 11.2rem);
    gap: clamp(3.2rem, 3.3333vw + 2.1333rem, 6.4rem);
    z-index: 0;
}

.destination-img {
    width: clamp(14rem, 27.2321vw + 5.2857rem, 44.5rem);
    height: clamp(14rem, 27.2321vw + 5.2857rem, 44.5rem);
    background-image: url(../assets/img/image-moon.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.destination_list {
    display: flex;
    gap: 2.4rem;
    color: var(--clr-primary-1);
    text-transform: uppercase;
    font-family: var(--ff-subtitles);
    font-size: var(--subheading-3-fs);
    line-height: var(--subheading-3-lh);
    letter-spacing: var(--subheading-3-spacing);
    padding-block-end: .8rem;
    position: relative;
    z-index: 1;
}

.destination_link:hover, .destination_link:active, .destination_link:focus, .destination-active {
    color: var(--clr-neutral-light);
}

.h2-destination {
    font-family: var(--ff-title);
    font-size: var(--h2-fs);
    line-height: var(--h2-lh);
    color: var(--clr-neutral-light);
    text-transform: uppercase;
    font-weight: 400;
}

.destination-choice {
    display: flex;
    flex-direction: column;
    gap: clamp(3.2rem, 3.3333vw + 2.1333rem, 6.4rem);
}

.destination-choice hr {
    color: var(--clr-primary-1-transparency-15);
    width: 100%;
}

.destination-info-container {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.destination-info h3 {
    font-family: var(--ff-subtitles);
    font-size: var(--subheading-3-fs);
    line-height: var(--subheading-3-lh);
    letter-spacing: var(--subheading-3-spacing);
    font-weight: 400;
    text-transform: uppercase;
    padding-block-end: 1.2rem;
}

.destination-info p {
    font-family: var(--ff-title);
    font-size: var(--subheading-1-fs);
    line-height: var(--subheading-1-lh);
    text-transform: uppercase;
    color: var(--clr-neutral-light);
}

/**** Destination - Navigation links hover animation ****/

.destination-underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: var(--clr-neutral-light);
    transition: all 0.6s ease;
    list-style: none;
    pointer-events: none;
    width: 0;
}

/*** Tablet ***/

@media only screen and (min-width: 48em) {
    .destination-body {
        background-image: url(../assets/img/background-destination-tablet.jpg);
    }
    
    .destination-body main {
        align-items: start;
    }

    .destination-img, .destination_list {
        margin-inline: auto;
    }

    .destination-info-container {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

/*** Desktop ***/

@media only screen and (min-width: 80em) {
    .destination-body {
        background-image: url(../assets/img/background-destination-desktop.jpg);
    }
    .destination-body main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: start;
        text-align: start;
        margin-block-end: auto;
    }
    .destination-img {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        margin-inline: 0;
        margin-block-start: 3.2rem;
    }
    .destination_list {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin-inline: 0;
    }
    .destination-section {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    .destination-choice {
        gap: 3.2rem;
    }
    .destination-info-container {
        justify-content: start;
        gap: 8rem;
    }
}

/** Crew page **/

.crew-body {
    background-image: url(../assets/img/background-crew-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.crew-body main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-inline: var(--spacing-x);
    margin-block-start: clamp(12rem, 5.4167vw + 10.2667rem, 17.2rem);
    margin-block-end: clamp(4.8rem, 6.6667vw + 2.6667rem, 11.2rem);
    gap: 3.2rem;
    z-index: 0;
}

.crew-img {
    width: clamp(17.7rem, 40.7292vw + 4.6667rem, 56.8rem);
    height: clamp(22.2rem, 51.0417vw + 5.8667rem, 71.2rem);
    background-image: url(../assets/img/image-douglas-hurley.webp);
    background-size: cover;
    background-repeat: no-repeat;
    margin-block-end: -3.2rem;
}

.crew-body main hr {
    color: var(--clr-primary-1-transparency-15);
    width: 100%;
    margin: 0;
}

.crew_list {
    display: flex;
    gap: clamp(1.6rem, .8333vw + 1.3333rem, 2.4rem);
}

.crew_item {
    width: clamp(1rem, .5208vw + .8333rem, 1.5rem);
    height: clamp(1rem, .5208vw + .8333rem, 1.5rem);
    border-radius: 50%;
    background-color: var(--clr-neutral-light-transparency-25);
}

.crew-active {
    background-color: var(--clr-neutral-light);
}

.crew-choice {
    display: flex;
    flex-direction: column;
    gap: clamp(1.6rem, .8333vw + 1.3333rem, 2.4rem);
}

.crew-choice h2 {
    display: flex;
    flex-direction: column;
    gap: clamp(.8rem, .8333vw + .5333rem, 1.6rem);
}

.crew-choice h2 span:first-child {
    font-size: var(--h4-fs);
    line-height: var(--h4-lh);
    font-family: var(--ff-title);
    color: var(--clr-neutral-light-transparency-25);
    text-transform: uppercase;
    font-weight: 400;
}

.crew-choice h2 span:last-child {
    font-size: var(--h3-fs);
    line-height: var(--h3-lh);
    font-family: var(--ff-title);
    color: var(--clr-neutral-light);
    text-transform: uppercase;
    font-weight: 400;
}

/*** Tablet ***/

@media only screen and (min-width: 48em) {
    .crew-body {
        background-image: url(../assets/img/background-crew-tablet.jpg);
        overflow-y: hidden;
    }
    
    .crew-body main {
        display: grid;
        align-items: start;
        min-height: 100vh;
    }

    .crew-body main hr {
        display: none;
    }

    .crew-img, .crew_list {
        margin-inline: auto;
    }

    .crew-img {
        grid-row: 4 / 5;
        margin-block-end: 11.2rem;
    }

    .crew_list {
        grid-row: 3 / 4
    }

    .crew-section {
        grid-row: 2 / 3;
    }
}

/*** Desktop ***/

@media only screen and (min-width: 80em) {
    .crew-body {
        background-image: url(../assets/img/background-crew-desktop.jpg);
    }
    .crew-body main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: start;
        text-align: start;
        margin-block-end: 0;
        min-height: calc(100vh - 17.2rem);
    } 
    .crew-img {
        grid-column: 2 / 3;
        grid-row: 1 / 4;
        margin-block-end: 0;
        align-self: end;
    }
    .crew-section {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    .crew_list {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        margin-inline: 0;
    }
}

